<h1>CSS Garden of Good and Evil</h1>
<br>
<br>
<br>
<form class="properties-form" action="/" method="post">
  <h3>Properties</h3>
  <label for="good">Good</label>
    <input type="radio" name="good" value="good">
  <label for="evil">Evil</label>
    <input type="radio" name="evil" value="evil">
    <br>
  <label for="fav-food">Favorite Food</label>
    <input type="text" name="fav-food">
    <br>
  <label for="color">Favorite Color</label>
    <select class="" name="color">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="green">green</option>
  </select>
  <br>
  <label for="insanity">Insanity Level</label>
    <input type="range" name="insanity" min="1"
  max="10" step="1">
  <br>
    <input type="submit" name="properties">
</form>
<h2>Favorite Things</h2>
{{#each personaTrait as |trait|}}
<ul>
  <li>Blood Sausage</li>
  <li>Blue</li>
  <li>Anatomically correct hearts</li>
  <li>Crystal serviceware</li>
  <li>Gold bars</li>
  <li>Pandas</li>
</ul>
{{/each}}
<h2>Opposite of Favorite Things</h2>

<ul>
  <li>Mud</li>
  <li>Coyotes</li>
  <li>Ferrets</li>
  