<div class="{{persona.styles.page}}">
<h1>CSS Garden of Good and Evil</h1>
<br>
<br>
<br>
<div class="properties-form-container">
<form class="properties-form" action="/update" method="post">
  <h3>Properties</h3>
  <label for="good">Good</label>
    <input type="radio" name="goodEvil" value="good">
  <label for="evil">Evil</label>
    <input type="radio" name="goodEvil" value="evil">
  <br><br>
  <label for="favFood">Favorite Food</label>
    <input type="text" name="favFood">

  <label for="color">Favorite Color</label>
    <select class="" name="color">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="green">green</option>
  </select>

  <label for="insanity">Insanity Level</label>
    <input type="range" name="insanity" min="1"
  max="10" step="1">
  <br><br>
    <input type="submit">
</form>
</div>
<div class="favorite-things-container">
  <h2>Favorite Things</h2>
  <ul>
  {{#each persona.likes as |like|}}
    <li>{{like}}</li>
  {{/each}}
  </ul>
</div>
<div class="not-so-favorite-things-container">
  <h2>Not So Favorite Things</h2>
  <ul>
  {{#each persona.dislikes as |dislike|}}
    <li>{{ldisike}}</li>
  {{/each}}
  </ul>
</div>
<div>
  
</div>
  
</div>
