body {
  padding: 50px;
  font: 16px "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 3em;
}

input, select {
  margin-right: 14px;
}

.container {
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
}

.evil{
  background: black;
  color: red;
}

.good{
  background: white;
  color: #666;
}
.sane{
  font-family: Helvetica;
}
.crazy{
  font-family: 'comic-sans';
}
.psycho {
  font-family: webdings;
}


.properties-form-container {
  border: 2px solid #666;
  border-radius: 6px;
  padding-bottom: 20px;
}
ul li {
  list-style-type: none;
}
